<h1>New Game</h1>
<hr>
<div class="new-letters">
  <% @grid.each do |letter|%>
    <h3 class="letter"><%= letter %></h3>
  <% end %>
</div>
<hr>
<h2>What is the longest word you can find?</h2>
<form action="/score" method="post">
  <input type="text" name="word" placeholder="solution">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit">
</form>
