/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .new-letters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .new-letters > ul {
  display: inline-table;
  list-style: none;
  margin: 0px 25px 0px 25px;
 }

.letter {
  display: flex;
  align-items: center;
  background-color: rgb(3, 173, 252);
  color: white;
  font-size: 30px;
  font-weight: bolder;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  justify-content: center;
}
 h1 {
  text-align: center;
  font-size: 50px;
 }
 h2 {
  font-weight: lighter;
  text-align: center;
 }
input {
  padding: 5px;
  align-self: center;
  font-size: 30px;
}
form {
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 46%;
  border-radius: 5px;
  padding: 5px;
  color: grey;
  background-color: white;
  border: 2px solid grey;
}

a:hover {
  color: white;
  background-color: grey;
  border: 2px solid grey;
}

.second-hr {
  opacity: 0;
}






